/*
Layouts Pack: Lodge Espresso
Description: Layouts Pack for the Divi theme
Author: LayoutsCafe
Author URI: http://www.layoutscafe.com
Template: Divi
Version: 1.1.0
*/


/* ----- MEDIA QUERIES ----- */


@media only screen and (max-width: 601px) {

/* NAVIGATION */

    #page-container #main-header {position: relative;}
    #page-container #et-main-area {margin-top: 82px;}
    .admin-bar #page-container #main-header {margin-top: 0;}
    .admin-bar #page-container #et-main-area {margin-top: 0;}

}


@media only screen and (max-width: 767px) {
    
/* NAVIGATION */

.admin-bar #main-header {margin-top: 46px;}
.admin-bar #et-main-area {margin-top: 114px;}

    /* TYPOGRAPHY */
        
        h1 {font-size: 1.7em!important;}
    
    /* BUTTONS */

        /* making button 100% width in mobile version */
        .et_pb_button {width: 93%;}
        /*#hero .et_pb_button {width: 100%;}*/
        
        a.et_pb_more_button.et_pb_button.et_pb_button_two {margin-left: 0;}

        
        /* making form submit button 100% width */
        input#et_pb_submit {
            padding: .6em 1.2em;
            width: 100% !important;
            max-width: 100% !important;
        }
        .form-submit {float: none;}

        .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {width:100%;}
        
        /* Button full width */
    
    
    /* FORMS */

        /* Add margin under form captcha */
        input.input.et_pb_contact_captcha {margin-bottom: 1em!important;}
        
    
    /* FOOTER */

    /* Make footer fullwidth https://www.boltthemes.com/full-width-divi-footer/ */
    #main-footer .container{
        margin-right: 3em!important; 
        margin-left: 3em!important;
        max-width: 80%!important;
    }
        
}


@media (min-width:602px) and (max-width: 767px) {
    
}


@media (min-width:768px) {
    
    /* TYPOGRAPHY */
        
    /*h1 {font-size: 2.5em!important;}*/
}


@media screen and (min-width:768px) and (max-width: 1023px) {
    
    /* TESTIMONIALS */

        .et_pb_testimonial .et_pb_testimonial_portrait {margin-left: 40%;}
        .et_pb_team_member_image img {float: none !important;}
}



@media (max-width: 980px) {
    #mobile_menu .searchform.desktop {display: none;}
    #mobile_menu .searchform.mobile {display: block;}
    #top-menu .searchform.desktop {display: none;}
    #mobile_menu .searchform.desktop {display: none;}
    #mobile_menu li:last-child {display: none;}
}

@media (min-width: 981px) {

    /* NAVIGATION */

    #mobile_menu .searchform.mobile {display: none;}
    #top-menu .searchform.desktop {display: block;}
    #top-menu .searchform.mobile {display: none;}

    /* FOOTER */

        /* Removing space before the footer */
        #left-area {
            padding-bottom:0px !important;
        }
}


@media (min-width:1024px) {
    
    /* TESTIMONIALS */
        
        .et_pb_team_member_image img {max-width: 200px !important;}
    
    /* BLOG */
    
        /* Add margin under the submit button from the comments form */
        .form-submit {margin-bottom: 2em;}
}


@media (min-width:1025px) {
    
    /* TESTIMONIALS */
        
        .et_pb_team_member_image img {float: left !important;}
}

/* ----- END OF MEDIA QUERIES ----- */


/* LAYOUT */

#main-content .container:before {width: 0;}
.single-wpfb_drink #left-area,
.single-wpfb_shop #left-area {padding-right: 0; width: 100%;}
#main-content .et_pb_section {padding: 0;}

/* SEARCH */

#left-area .map-title {
    margin-top: 1rem;
}


/* ICONS */
    .fa {padding-right:1em!important;}
    .svg-inline--fa {margin-right: 1em;}

/* BUTTONS */

            /* Adding volume to the buttons*/
            body .et_pb_button {padding: .6em 3em;}
            body .et_pb_button:hover {padding: .6em 3.2em;}
            /*body #page-container .et_pb_button_5:hover {padding: .6em 3.2em !important;}*/
            body .button_cta:hover, button.et_pb_contact_submit.et_pb_button:hover {padding: .6em 3.2em !important;letter-spacing: 3px !important;}
            
            /* Centering text in buttons */
            body .et_pb_button {text-align:center;}
            
            #pricing .et_pb_button, #showcase .et_pb_button {
                width:100% !important;
                padding: 1em 0;
                /* et_pb_button_module_wrapper */
            }

/* WIDGETS */

    .widget_search #searchsubmit {top: 2px;}


/* NAVIGATION */

    #main-header {position: fixed;}
    #et-main-area {margin-top: 82px;}
    .admin-bar #main-header {margin-top: 32px;}
    .admin-bar #et-main-area {margin-top:114px;}

    #top-menu .searchform.desktop input[type=text]:focus,
    #top-menu .searchform.desktop input[type=text] {
        color: #111;
    }

    #mobile_menu .searchform.mobile input[type=text]:focus,
    #mobile_menu .searchform.mobile input[type=text] {
        color: #111;
        font-size: 1.5em;
        width: 100%;
    }

    /* Buttons in nav */

        .navcta {text-align: center;}
    
        .navcta a {
            -moz-osx-font-smoothing: grayscale;
            background: #132450 none repeat scroll 0 0;
            /*border: 2px solid;*/
            border-radius: 3px;
            color: #ffffff !important;
            cursor: pointer;
            line-height: 1.7em;
            margin: 4px auto;
            padding: 6px 30px !important;
            transition: all 0.2s ease 0s;
        }
        .navcta a:hover{
            background-color:#ec5773;
        }
        
        .et-fixed-header #top-menu .navcta a, .et-fixed-header #et_search_icon:before, .et-fixed-header #et_top_search .et-search-form input, .et-fixed-header .et_search_form_container input, .et-fixed-header .et_close_search_field:after, .et-fixed-header #et-top-navigation .et-cart-info {color: rgba(255,255,255,0.86) !important;}


/* TYPOGRAPHY */
    h1:after, h2:after, h3:after {
        content: "";
        width: 135px;
        border-bottom-width: 135px;
        border-bottom: solid 2px;
        border-color: #EC5773;
        margin-top: 36px;
        margin-bottom: 40px;
        display: block;
    }
    
    /* Ul lists */
    
        /* changing bullets from circle to square */
        .et_pb_text li, .et_pb_toggle_content li, .et_pb_tab li {list-style: none;}
        .et_pb_text li:before, .et_pb_toggle_content li:before, .et_pb_tab li:before {
            content: "\25AA";
            color: #ec5773; /* or whatever color you prefer */
            display: inline-block; width: 1em;
            margin-left: -1em;
        }

/* Hover effect */
    .grow {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    
    .grow img {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .grow:hover img {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        overflow: hidden;
    }
    
    
    /* http://stackoverflow.com/questions/18322548/black-transparent-overlay-on-image-hover-with-only-css */
    
    .grow a:after {
        content:'\A';
        position:absolute;
        width:100%; height:100%;
        top:0; left:0;
        background:rgba(255,255,255,0.2);
        opacity:1;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    
    .grow a:hover:after {
        opacity:0;
    }
    
/* TESTIMONIALS */

    /* typographic styling - removing italic style */
    .et_pb_testimonial_description_inner p {font-style: normal!important;}
    

/* ACCORDION & TOGGLES */

    /* General Accordion/Toggle styling */
    .et_pb_module.et_pb_toggle.et_pb_toggle_close, .et_pb_module.et_pb_toggle {border:1px dashed #ec5773!important; border-radius: 3px;}
    
    /* Changing the bottom margin */
    .et_pb_toggle {margin-bottom: 1em!important;}
    

/* SOCIAL FOLLOWING */
    
    /* Center the icons in a column */
    #lc03_social_col  {text-align: center;}
    #lc03_social_col ul {display: inline-block;}


/* CUSTOM POST TYPES */
    .et_pb_pagebuilder_layout.single-wpfb_drink,
    .et_pb_pagebuilder_layout.single-wpfb_shop #page-container .et_pb_row {width: 100%;}
    .et_pb_pagebuilder_layout.single-wpfb_drink,
    .et_pb_pagebuilder_layout.single-wpfb_shop #page-container .et_pb_with_background .et_pb_row {width: 80%;}


/* FOOTER */

    /* Make footer fullwidth https://www.boltthemes.com/full-width-divi-footer/ */
    #main-footer .container{
        margin-right: 2.773%; 
        margin-left: 2.773%; 
        width:94.454%!important;
        max-width: 94.454%;
    }

/* Divi Maps */
.et_pb_map .gm-style-iw h3 {
    font-size: 1rem;
}

.et_pb_map .gm-style-iw h3:after {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.et_pb_map .gm-style-iw .infowindow .et_pb_row {
    margin: 0;
    padding: 0 0 1rem 0;
    width: 100%;
}

.flexdatalist-results .item .item.item-description {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    padding-left: 10px;
}

.et_pb_searchform input.et_pb_searchsubmit:disabled {
    color: #888 !important;
    cursor: not-allowed;
}